Hover:
  ShowAKA: Yes

Diagnostics:
  UnusedIncludes: Strict

CompileFlags:
  Add:
    - -ID:/qt-element-ui/build # for ui_generated headers
    - -ID:/qt-element-ui/components
    - -ID:/qt-element-ui/components/deprecated
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtCore
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtWidgets
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtGui
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtSvg
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/ActiveQt
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/Qt3DAnimation
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/Qt3DCore
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/Qt3DExtras
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/Qt3DInput
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/Qt3DLogic
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/Qt3DQuick
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/Qt3DQuickAnimation
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/Qt3DQuickExtras
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/Qt3DQuickInput
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/Qt3DQuickRender
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/Qt3DQuickScene2D
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/Qt3DRender
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtAccessibilitySupport
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtANGLE
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtBluetooth
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtBodymovin
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtCharts
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtConcurrent
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtDataVisualization
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtDBus
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtDesigner
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtDesignerComponents
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtDeviceDiscoverySupport
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtEdidSupport
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtEglSupport
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtEventDispatcherSupport
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtFbSupport
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtFontDatabaseSupport
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtGamepad
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtHelp
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtLocation
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtMultimedia
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtMultimediaQuick
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtMultimediaWidgets
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtNetwork
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtNetworkAuth
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtNfc
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtOpenGL
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtOpenGLExtensions
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtPacketProtocol
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtPlatformCompositorSupport
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtPlatformHeaders
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtPositioning
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtPositioningQuick
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtPrintSupport
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtPurchasing
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQml
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQmlDebug
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQmlModels
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQmlWorkerScript
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQuick
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQuick3D
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQuick3DAssetImport
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQuick3DRender
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQuick3DRuntimeRender
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQuick3DUtils
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQuickControls2
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQuickParticles
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQuickShapes
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQuickTemplates2
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQuickTest
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtQuickWidgets
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtRemoteObjects
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtRepParser
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtScript
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtScriptTools
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtScxml
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtSensors
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtSerialBus
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtSerialPort
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtSql
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtTest
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtTextToSpeech
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtThemeSupport
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtUiPlugin
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtUiTools
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtVirtualKeyboard
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtVulkanSupport
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtWebChannel
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtWebSockets
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtWindowsUIAutomationSupport
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtWinExtras
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtXml
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtXmlPatterns
    - -IC:/Qt/Qt5.14.2/5.14.2/mingw73_64/include/QtZlib
